@font-face {
    font-family: 'poppins';
    src: url('../Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'saira';
    src: url('../SairaExtraCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width: fit-content;
    font-family: 'poppins';
    margin: 0;
    background-color: #ffffff;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    scroll-behavior: smooth;
    /* pointer-events: none; */
}
a{
    text-decoration: none;
}
.content {
    font-family: 'saira';
}
.nav{
    padding-top: 38px;
    margin-left: 706px;
    width: 100%;
}

.logo {
    width: 156px;
    height: 66px;
    padding-top: 38px;
}
header{
    width: 100%;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: #eee;
    margin-right: 40px;
}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    /* margin-left: 10%; */
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 43%;
    width: 1140px;
    max-width: 80%;
    left: 40%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 10em;
    font-weight: bold;
    line-height: 0.8em;
}
.carousel .list .item .topic{
    color: white;
}
.carousel .list .item .buttons{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.btn-save {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  margin-right: 20px;
}

.btn-ticket {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background: transparent;
  color: white;
  border: 1px solid white;
}

/* .carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
} */
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 188px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 239px;
    height: 409px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
 .des {
  font-size: 25px;
 }
/* arrows */
.arrows {
    position: absolute;
    bottom: 77px;
    right: 37%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 25px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 0.7s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 0.8s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 0.9s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.0s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 232px;
    height: 409px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .2s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 232px;
        height: 409px;
        bottom: 188px;
        left: 55%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

.other-destination .other-destination-1 {
    width: fit-content;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    color: #000000;
  }

  .other-destination .east-java {
    margin: 0 36px 11px 36px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }
  .other-destination .mount-bromo {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .group-2 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0.9px 20px 0;
    width: 450px;
    box-sizing: border-box;
    margin-left: 100px;
  }
  .other-destination .ijen-crater {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-6 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0 20px 0.6px;
    width: 450px;
    box-sizing: border-box;
  }
  .other-destination .tumpak-sewu {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-3 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0.1px 20px 0;
    width: 450px;
    box-sizing: border-box;
    z-index: 1000px;
  }
  .other-destination .rectangle-40 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    width: 480px;
    height: 235px;
    z-index: 1000px;
  }
  .other-destination .container {
    margin-bottom: 17px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    width: 1830px;
    box-sizing: border-box;
  }
  .other-destination .bali-island {
    margin: 0 36px 11px 36px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }
  .other-destination .dewata-island {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .group-3 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 10.4px 20px 0;
    width: 450px;
    box-sizing: border-box;
    margin-left: 100px;
  }
  .other-destination .tirta-gangga {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-4 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0 20px 0.1px;
    width: 450px;
    box-sizing: border-box;
  }
  .other-destination .nusa-dua-beach {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-2 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 1px 20px 0;
    width: 450px;
    box-sizing: border-box;
  }
  .other-destination .rectangle-43 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    width: 480px;
    height: 235px;
  }
  .other-destination .container-7 {
    margin-bottom: 17px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    width: 1830px;
    box-sizing: border-box;
  }
  .other-destination .other {
    margin: 0 36px 11px 36px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }
  .other-destination .bandung-white-crater {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .group-4 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0.7px 20px 0;
    width: 450px;
    box-sizing: border-box;
    margin-left: 95px;
  }
  .other-destination .tangkuban-perahu-mountain {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-5 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0 20px 42.5px;
    width: 450px;
    box-sizing: border-box;
  }
  .other-destination .pangandaran-beach {
    margin-left: 10px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.933);
  }
  .other-destination .container-9 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 185px 0 20px 0px;
    width: 450px;
    box-sizing: border-box;
  }
  .other-destination .rectangle-47 {
    background: url('image/img6.jpg') 50% / cover no-repeat;
    position: relative;
    width: 480px;
    height: 235px;
  }
  .other-destination .container-8 {
    margin-left: 5px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    width: 1830px;
    box-sizing: border-box;
  }
  .other-destination .container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1830px;
    height: fit-content;
    box-sizing: border-box;
  }
  /* .other-destination .rectangle-36 {
    background: url('../assets/images/rectangle_48.jpeg') 50% / cover no-repeat;
    position: absolute;
    top: 203px;
    right: -480px;
    width: 480px;
    height: 235px;
  }
  .other-destination .rectangle-44 {
    background: url('../assets/images/rectangle_48.jpeg') 50% / cover no-repeat;
    position: absolute;
    right: -480px;
    bottom: 293px;
    width: 480px;
    height: 235px;
  }
  .other-destination .rectangle-48 {
    background: url('../assets/images/rectangle_48.jpeg') 50% / cover no-repeat;
    position: absolute;
    right: -480px;
    bottom: 0px;
    width: 480px;
    height: 235px;
  } */
  .other-destination {
    background: #FFFFFF;
    display: flex;
    padding-top: 65px;
    width: 1440px;
    box-sizing: border-box;
  }

  .footer {
    margin-top: 3rem;
    background-color: #12216e;
    display: flex;
    align-items: flex-start;
    gap: 40px 100px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 32px 67px 20px;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 0 20px;
    }
  }
  
  .footer-content {
    align-self: start;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .footer-columns {
    gap: 20px;
    display: flex;
    padding-left: 4.5rem;
  } 
  
  @media (max-width: 991px) {
    .footer-columns {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .logo-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 68%;
    margin-left: 0;
    /* background-color: red; */
  }
  
  @media (max-width: 991px) {
    .logo-column {
      width: 100%;
    }
  }
  
  .logo-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .logo-container {
      margin-top: 40px;
    }
  }
  
  .logo {
    aspect-ratio: 2.35;
    object-fit: contain;
    object-position: center;
    padding-top: 0;
    width: 125px;
    max-width: 100%;
    margin-top: 2rem;
  }
  
  .social-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding-left: 13px;
    flex-direction: column;
  }
  
  .social-text {
    color: #3e4b89;
    font: 600 14px Poppins, sans-serif;
  }
  
  .social-icons {
    align-self: start;
    display: flex;
    margin-top: 8px;
    gap: 20px;
  }
  
  .social-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
  }
  
  .nav-column {
    display: flex;
    margin-right: 50rem;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 10px;
    /* background-color: red; */
  }
  
  @media (max-width: 991px) {
    .nav-column {
      width: 100%;
    }
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: start;
    color: #3e4b89;
    white-space: nowrap;
    margin: auto 0;
    font: 600 14px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .nav-links {
      margin-top: 40px;
      white-space: initial;
    }
  }
  
  .nav-title {
    color: #fff;
    font-size: 17px;
    align-self: stretch;
  }
  
  .nav-item {
    margin-top: 25px;
  }
  
  .nav-item:first-of-type {
    margin-top: 41px;
  }
  
  @media (max-width: 991px) {
    .nav-item:first-of-type {
      margin-top: 40px;
    }
  }
  
  .contact-section {
    align-self: end;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    align-items: start;
    font-family: Poppins, sans-serif;
    /* background-color: red; */
  }
  
  @media (max-width: 991px) {
    .contact-section {
      max-width: 100%;
    }
  }
  
  .contact-title {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-top: 1.rem;
  }
  
  .contact-info {
    align-self: stretch;
    display: flex;
    margin-top: 32px;
    width: 100%;
    padding-left: 5px;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
  }
  
  @media (max-width: 991px) {
    .contact-info {
      max-width: 100%;
    }
  }
  
  .contact-item {
    display: flex;
    gap: 13px;
  }
  
  .contact-item:not(:first-child) {
    margin-top: 16px;
  }
  
  .contact-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 14px;
    align-self: start;
  }
  
  .contact-label {
    color: #36438e;
    margin: auto 0;
  }
  
  .contact-value {
    color: #b3bbd2;
    flex-grow: 1;
  }
  
  .customer-service {
    border-radius: 5px;
    background-color: #438eff;
    display: flex;
    margin-top: 21px;
    gap: 26px;
    font-size: 12px;
    color: #fff;
    padding: 12px 63px 12px 17px;
  }
  
  @media (max-width: 991px) {
    .customer-service {
      padding-right: 20px;
    }
  }
  
  .customer-service-icon {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 22px;
    margin: auto 0;
  }
  
  .customer-service-text {
    display: flex;
    flex-direction: column;
  }
  
  .customer-service-label {
    font-weight: 400;
  }
  
  .customer-service-number {
    font-weight: 700;
    margin-top: 4px;
  }
  
  @media (max-width: 991px) {
    .customer-service-number {
      margin-right: 2px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
